<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DiscountOrderThreshold" value="300" />
		<add key="MaxOrdersInInterval" value="5" />
		<add key="OrderInterval" value="05:30:00" />
		<add key="DiscountPercent" value="20"/>
		<add key="FreeDeliveryThershold" value="100"/>
		<add key="DeliveryFee" value="30"/>
	</appSettings>
</configuration>